.button.action {
  margin-bottom: 0;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.spacer-top-2 {
  margin-top: 20px;
}

.spacer-top {
  margin-top: 10px;
}

.spacer-bottom-2 {
  margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary-color;
}

.wrapper h1 {
  color: lighten($secondary-color, 20);
}

.bold {
  font-weight: bold;
}

.card .header {
  background-color: $secondary-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }
  border-bottom: 1px solid darken($secondary-color, 20);
  @extend .align-center;
  background: -webkit-linear-gradient(top left, $secondary-color 0%, $black 100%);
  background: -moz-linear-gradient(top left, $secondary-color 0%, $black 100%);
  background: -o-linear-gradient(top left, $secondary-color 0%, $black 100%);
  background: linear-gradient(to bottom right, $secondary-color 0%, $black 100%);
}

.position-relative {
  position: relative;
}

.button-card {
  position: absolute;
  bottom: 16px;
  right: 16px;
  @extend .align-right;

  a {
    background: -webkit-linear-gradient(top left, $primary-color 0%, darken($primary-color, 15) 100%);
    background: -moz-linear-gradient(top left, $primary-color 0%, darken($primary-color, 15) 100%);
    background: -o-linear-gradient(top left, $primary-color 0%, darken($primary-color, 15) 100%);
    background: linear-gradient(to bottom right, $primary-color 0%, darken($primary-color, 15) 100%);
  }
}

.card-section.action {
  padding-bottom: 72px;
}
