.button.action {
  margin-bottom: 0;
}
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.spacer-top-2 {
  margin-top: 20px;
}

.spacer-top {
  margin-top: 10px;
}

.spacer-bottom-2 {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
}

.bold {
  font-weight: bold;
}

.card .header {
  background-color: $secondary-color;
  h1, h2, h3, h4, h5, h6 {
    color: $white;
  }
  border-bottom: 1px solid darken($secondary-color, 20);
  @extend .align-center;
}

.position-relative {
  position: relative;
}

.button-card {
  position: absolute;
  bottom: 16px;
  right: 16px;
  @extend .align-right;
}

.card-section.action {
  padding-bottom: 72px;
}
