.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.spacer-top-2 {
  margin-top: 20px;
}

.spacer-bottom-2 {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
}

.bold {
  font-weight: bold;
}
