.c1 {
  height: 132px;
  position: absolute;
  margin-top: -30px;
}

.c2 {
  position: relative;
  z-index: -1;
}

.c1,
.c2 {
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

.reflection-wrapper {
  width: 100%;
  height: 80px;
  overflow: hidden;
  left: 0;
  top: 70;
  position: absolute;
  z-index: 0;
}

.c2 {
  transform: rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, 180deg);
  backface-visibility: visible;
  opacity: .8;
  background-color: darken($secondary-color,10);
  filter: blur(1px);
  z-index: 1;
  position: relative;
}
