canvas {
  width: 100%;
  height: 140px;
  margin: -30px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.reflection-wrapper {
  max-height: 50px;
  overflow: hidden;
}

.c2 {
  transform: rotate3d(1, 0, 0, 0deg) rotate3d(0, 1, 0, 180deg) rotate3d(0, 0, 1, 180deg);
  backface-visibility: visible;
  opacity: .4;
  filter: blur(1px);
  position: absolute;
}
