<div class="rounded-social-buttons">
  <a class="social-button twitter" href="https://twitter.com/StixelDev" target="_blank"></a>
  <a class="social-button linkedin" href="https://www.linkedin.com/in/tim-hemmer-452518140" target="_blank"></a>
  <a class="social-button github" href="https://github.com/themmer" target="_blank"></a>
  <a class="social-button facebook" href="https://www.facebook.com/themmer" target="_blank"></a>
  <a class="social-button google-plus" href="https://plus.google.com/101718713894316315625" target="_blank"></a>
</div>
