<header class="sticky-shrinknav-header">
  <div class="sticky-shrinknav-header-title">
    <div class="wrapper">
      <div class="row">
        <div class="small-12 medium-6 column ">
          <h1 class="bold company">
            <img src="{{root}}assets/img/stixel_web_logo.png" />
          </h1>
        </div>
        <div class="small-12 medium-6 column ">
          <h3 class="bold name">Tim Hemmer</h3>
          {{> rounded-social-buttons}}
        </div>
      </div>
      <canvas class="c1"></canvas>
      <div class="reflection-wrapper">
        <canvas class="c2"></canvas>
      </div>
    </div>
  </div>

  <div class="sticky-shrinknav-menu-wrapper ">
    <div class="sticky-shrinknav-menu ">
      <ul class="menu ">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="projects.html">Projects</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
        <li>
          <a href="assets/resume.pdf" target="_blank ">Resume</a>
        </li>
      </ul>
    </div>
  </div>
</header>