<header class="sticky-shrinknav-header">
  <div class="sticky-shrinknav-header-title">
    <div class="row">
      <div class="small-12 medium-6 column">
        <h1 class="bold">STIXEL DEV</h1>
      </div>
      <div class="small-12 medium-6 column">
        <h3 class="bold">Tim Hemmer</h3>
        {{> rounded-social-buttons}}
      </div>
    </div>
  </div>

  <div class="sticky-shrinknav-menu-wrapper">
    <div class="sticky-shrinknav-menu">
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="assets/resume.pdf" target="_blank">Resume</a></li>
      </ul>
    </div>
  </div>
</header>
